<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">

    <name>Phonegap Tutorial</name>

    <description>
        De app gecreëerd met een tutorial.
        Te volgen op: http://coenraets.org/blog/phonegap-tutorial/
    </description>

    <author href="http://coenraets.org" email="ccoenraets@gmail.com">
        Yannick Servranckx
    </author>

    <plugin name="cordova-plugin-camera" spec="~2.3.1" />
    <plugin name="cordova-plugin-contacts" spec="~2.2.1" />
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>
